body {
    display: grid;
        
    grid-template-areas: 
        '. header header header .'
        '. nav nav nav .'
        '. aboutme aboutme progress .'
        '. pageinfo pageinfo pageinfo .'
        '. footer footer footer .';
    grid-gap: 1em;
}

header {
    grid-area: header;
    text-align: center;
    font-style: italic;
    letter-spacing: .5em;
}

nav {
    grid-area: nav;
    text-align: center;
    padding: .5em;
    border: 3px dashed #ffa8d1;
    

}

a {
    text-decoration: none;
    padding: 1em;
}

a:link {
    color: lightblue;
}

a:visited {
    color:#ffa8d1;
}

a:hover {
    font-style: italic;
    color:white;
}

body {
    margin: .5em;
    color: #ffa8d1;
    background-color: #61431e;
}

section {
    margin: 1em;
}

#underline {
    text-decoration: underline;
}

article {
    padding: 0 0 1em 0;
}

#aboutme {
    grid-area: aboutme;
    /*float: left;
    width: 25em;
    height: 26em;
    margin: .5em;*/
    border-radius: 1em 1em 1em 1em;
    color: #be2e71;
    background-color: #d3a165;
}

#pageinfo {
    grid-area: pageinfo;
    /*float: right;
    width: 25em;
    height: 26em;
    margin:.5em;*/
    border-radius: 1em 1em 1em 1em;
    color: #be2e71;
    background-color: #d3a165;
}

#progress {
    grid-area: progress; 
    /*float: left;
    width: 25em;
    height: 26em;
    margin: .5em;*/
    border-radius: 1em 1em 1em 1em;
    color: #be2e71;
    background-color: #d3a165;
}

#footer {
    grid-area: footer;
    border-radius: 1em 1em 1em 1em;
}

p {
    text-indent: 2em;
    padding: 0em 1em 0em 1em;
}

a {
    text-decoration: none;
}